<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UGB Smart Library</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="discovery.css">
</head>
<body>

    <header class="main-header">
        <h1>UGB</h1>
        <h2>VIRTUAL LIBRARY</h2>
    </header>

    <nav class="category-bar">
        <div class="category-buttons">
            <a href="#" class="category-btn">Python</a>
            <a href="#" class="category-btn">JavaScript</a>
            <a href="#" class="category-btn">CSS</a>
            <a href="#" class="category-btn">HTML</a>
            <a href="#" class="category-btn">Programação Orientada a Objetos</a>
        </div>      
    </nav>

    <main class="library-container">
        <article class="book-card">
            <img src="media/book_covers/django-5-by-example-cover.jpg" alt="Capa do livro de Python">
            <div class="card-content">
                <p class="availability">Quantidade disponível: 8/10</p>
                <p class="description">
                    lorem ipsum dolor sit amet consectetur adipiscing elit venenatis magna enim montes dis sodales neque eu penatibus et posuere orci cubilia proin etiam faucibus lectus congue dictum tristique semper...
                </p>
            </div>
        </article>

        <article class="book-card">
            <img src="media/book_covers/django-5-by-example-cover.jpg" alt="Capa do livro de Python">
            <div class="card-content">
                <p class="availability">Quantidade disponível: 8/10</p>
                <p class="description">
                    lorem ipsum dolor sit amet consectetur adipiscing elit venenatis magna enim montes dis sodales neque eu penatibus et posuere orci cubilia proin etiam faucibus lectus congue dictum tristique semper...
                </p>
            </div>
        </article>

        <article class="book-card">
            <img src="media/book_covers/django-5-by-example-cover.jpg" alt="Capa do livro de Python">
            <div class="card-content">
                <p class="availability">Quantidade disponível: 8/10</p>
                <p class="description">
                    lorem ipsum dolor sit amet consectetur adipiscing elit venenatis magna enim montes dis sodales neque eu penatibus et posuere orci cubilia proin etiam faucibus lectus congue dictum tristique semper...
                </p>
            </div>
        </article>

        <article class="book-card">
            <img src="media/book_covers/django-5-by-example-cover.jpg" alt="Capa do livro de Python">
            <div class="card-content">
                <p class="availability">Quantidade disponível: 8/10</p>
                <p class="description">
                    lorem ipsum dolor sit amet consectetur adipiscing elit venenatis magna enim montes dis sodales neque eu penatibus et posuere orci cubilia proin etiam faucibus lectus congue dictum tristique semper...
                </p>
            </div>
        </article>
    </main>

</body>
</html>